<style>
  h1 {
      text-align: center;
      padding: 20px;
  }
  form {
    padding: 70px 50px;
    background-color: #ddd;
    width: 700px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 100px;
  }
  label {
    display: block;
  }

  input, textarea {
    display: block;
    width: 100%;
    padding: 15px;
  }
  input[type='submit'] {
    width: 400px;
    margin: auto;
  }

  select {
    padding: 10px;
    font-size: 15px;
    border: none;
    border-radius: 0;
    -webkit-appearance: none;
    width: 150px;
    text-align: center;
    margin-bottom: 50px;
  }
  .form_field {
    margin: 25px 0 ;
  }

</style>



<h1>Lists</h1>


<%= form_tag('/lists') do %>
  <div class="form_field">
    <%= label_tag :title %> 
    <%= text_field_tag :title%> 
  </div>
  <div class="form_field">
    <%= label_tag :category %>
    <%= select_tag(:category, options_for_select(Category.all.collect {|p| [ p.tag, p.id ] }), { include_blank: true }) %>
  </div>
  <%= submit_tag "Make a list", class: "btn-submit" %>
<% end %>
