<% @lists.items.each do |item| %>
  <div> 
    <h3> <%= item.title %> </h3>
    <strong>Author: <%= item.user.name unless item.user.nil? %> </strong>
    <p> <a href="<%= item.link %>"> <%= item.link  %></a> </p>
    <p> <%= item.description %></p>
  </div>
<% end %>