<div class="demo-header">
  <div class="motto">
    <h1 class="title-uppercase">Curated List of Best Courses</h1>
    <h3>Crowd based online syllabus</h3>
  </div>
</div>

<style>
  
  .white_cont {
    background-color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 25px;
  }

  .item {
    height: 260px;
    background-color: white;
    line-height: 260px;
    color: #506367;
 }

 .item .centered {
  vertical-align: middle;
  display: inline-block;
  text-align: center;
  line-height: 1;
 }

 .item .likes {
    padding: 10px 20px;
    display: inline-block;
    border-radius: 25px;
    background-color: #F5F5F5;
    transition: background .5s;
 }

  .item:hover {
    background-color: #FF8F5E;
    color: #fff;
  }

  .item:hover .likes {
    color: #000;
    background-color: #fff;
  }
.categories {
  text-align: center;
  font-size: 0;
  margin-top: 20px;
}
.categories a {
  background-color: rgba(255,255,255,.2);
  height: 200px;
  line-height: 200px;
  display: inline-block;
  font-size: 16px;
  float: none;
}

.categories a:hover {
  background-color: #fff;
  color: #000;
}

</style>

<div class="container white_cont">
  <div class="row">
    <h2>Trending Lists</h2>
    <div class="nav-tabs-navigation">
      <div class="nav-tabs-wrapper">
      <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
          <li class="active"><a href="#home" data-toggle="tab">Today</a></li>
          <li><a href="#profile" data-toggle="tab">Weekly</a></li>
          <li><a href="#messages" data-toggle="tab">Monthly</a></li>
      </ul>
      </div>
    </div>
    <div id="my-tab-content" class="tab-content text-center">
      <div class="tab-pane active" id="home">
          <div class="row">
              <% List.all.sort_by { |list| list.list_votes }[0,6].each do |list| %>
               <div class="col-md-4 item">
                  <div class="centered">
                    <h4 class="title"> <%= list.title %> </h4>
                    <div class="likes"> <%= list.list_votes.count %> </div>
                  </div>
               </div>
              <% end %>
          </div>
      </div>
      <div class="tab-pane" id="profile">


      </div>
      <div class="tab-pane" id="messages">



      </div>
    </div>

  </div>
</div>



<div id ='category'  class="section section-dark text-center landing-section">
  <div class="container">
    <h2>Browse By Categories</h2>
    <div class="row categories">
      <% Category.all.each do |c| %>
        <a class='col-md-3 item center-block'href="category/<%= c.tag %>"><%= c.tag %></a>
      <% end %>

    </div>
  </div>
</div> 














<!-- hidden stuff, maybe -->

<% if false %>

  <link rel="stylesheet" type="text/css" href="home.css">


  <div class="cont">
    <div class="inner">
       <div class="trending">
         <h2>Trending</h2> <span>List that are trending</span>
        <div class="lists">
        <% List.all.sort_by { |list| list.list_votes }[0,6].each do |list| %>
  		   <div class="list">
  		      <h4 class="title">
  		     <%= list.title %>
  		     </h4>
  		     <div class="likes">
  		       <%= list.list_votes.count %>
  		     </div>
  		    </div>
        <% end %>
         </div>
      </div>
    </div>
  </div>




  <div id ='category' class="cont category">
    <div class="inner">
      <h2>Categories</h2>
      <span>Browse By Category</span>
      <ul class='cat_list'>
  	<% Category.all.each do |c| %>
  		<li><a href="category/<%= c.tag %>"><%= c.tag %></a></li>
  	<% end %>
      </ul>
    </div>
  </div>
<% end %>