<style>
  h1 {
      text-align: center;
      padding: 20px;
  }
  form {
    padding: 70px 50px;
    background-color: #ddd;
    width: 700px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 100px;
  }
  label {
    display: block;
  }

  input, textarea {
    display: block;
    width: 100%;
    padding: 15px;
  }
  input[type='submit'] {
    width: 400px;
    margin: auto;
  }

  select {
    padding: 10px;
    font-size: 15px;
    border: none;
    border-radius: 0;
    -webkit-appearance: none;
    width: 150px;
    text-align: center;
    margin-bottom: 50px;
  }
  .field_form {
    margin: 25px 0 ;
  }

</style>


<h1>New Course</h1>

<%= form_tag('/items') do |f|%>
  <div class="field_form">
    <%= label_tag :title %>
    <%= text_field_tag :title %>
  </div>
  <div class="field_form">
    <%= label_tag :description  %>
    <%= text_area_tag :description %>
  </div>
   <div class="field_form">
    <%= label_tag :link  %>
    <%= text_field_tag :link %>
  </div>
  <div class="field_form">
    <%= label_tag :list %>
    <%= select_tag :list, options_for_select(List.all.collect {|l| [l.title, l.id]}), {prompt: "Select"} %>
  </div>
  <%= submit_tag "Save Item" %>
<% end %>